body {

    background-color: rgb(245, 122, 8);



}

#container {

background-color: rgb(238, 210, 158);
width: 950px;
margin: 20px auto;
border: 4px solid rgb(8, 0, 7);
padding: 20px ;
border-radius: 10px;

}

header{

    text-align: center;
    padding: 60px;
}

header h1 {

    color: black;
    font-size: 30px;

}

nav{


    text-align: center;
    border-top: 6px dotted rgb(8, 0, 7);
    border-bottom: 6px dotted rgb(6, 0, 5);
    padding: 30px;

}

nav a {

    font-size: 30px;
    margin: 20px;
    color: black;
   

}

nav a:hover {

color: darkslategrey;
text-decoration: none;

}

main {

    margin: 20px auto;
    border: 4px solid rgb(2, 0, 2);
    padding: 20px ;
    border-radius: 10px;


}

main h2 {
color: black;
text-align: center;

}

main img {
    
    display: block;
    width: 250px;
    border-radius: 20px;
    margin-right: 50px auto;
}
   

main h3 {
color: black;
text-align: center;

}






#playingaround

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
