body {
    background-color: darkorange;
}

#container {

    background-color: darkorange;
    width: 950px;
    margin: 20px auto;
    border: 15px solid black;
    padding: 20px;
    border-radius: 4px;


}

header {

    text-align: center;
}

header h1 {
    color: black;
    font-size: 30px;
}

nav {
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding: 30px;
    
}

nav a {
    color: black;
    font-size: 30px;
    margin: 0 20px; 
}

nav a:hover {
    color: rgb(141, 14, 195);
    text-decoration: none;
}

main {
     margin: 15px auto;
    border: 5px solid black;
    padding: 20px;
    border-radius: 4px;


}

main h2 {
    color: black;
    text-align: center;

}

main image {

    
}



main h3 {
    color: black;
    text-align: center;
}

footer {
padding: 40px 0;
text-align: center;
border-top: 4px solid black;

}

