/*Global Styles*/

*{
    margin: 0;
}

body{
    background-color: #2a2f34;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

a{
    color: #e65b04;
}

a:hover{
    color: #d65a0d;
    text-decoration: none;
}

/*Mobile Styles*/

#container{
    width: 100%;
    margin: 10px;
    border: 4px solid #e65b04;
}

nav{
    text-align: center;
}

nav ul{
    padding: 0%;
    list-style-type: none;
}

nav li{
    display: block;
}

nav li a{
    display: block;
    background-color:  #2a2f34;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: #e65b04 4px solid;
}

nav li a:hover{
    background-color: #efedeb;
    
}

main {
    padding: 10px;
    margin: 10px;
    color: #eae4e0;
    text-align: center
;

}

  .col  {
   margin: 20px;
   
  }

.col img {
border-radius: 20px;
border: 4px solid #e65b04;
}

footer {
 padding: 40px;
    text-align: center;
    color: #e65b04;
}

main h2 {
    text-align: center;
    font-size: 40px;
    color: #e5deda;
}
main h3 {
    text-align: center;
    font-size: 30px;

}

/*Tablet Styles*/


@media (min-width:768px) {
    nav {
        padding: 10px 0;
        border-bottom: 4px solid #050302;
    }
    
    nav li {
        display: inline;
    }

    nav li a {
        display: inline-block; 
        width: 150px;
        height: 40px;
    }
}

main {
    margin-top: 10px;
}

.col img {
    width: 65%;
}

/*Desktop Styles*/
@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        background-color: #2a2f34;
    }

    .contact {
        display: flex;
        justify-content: space-around;
    }

    .col {
        border:2px solid #e65b04;
        margin: 10px
        padding: 10px;
    }

    .col img {
        width: 100%;
    }
}